.insights-area-wrapper {
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box; /* to account for the padding */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.overview-marketsegments {
    width: 100%;
    padding: 15px;
    box-sizing: border-box; /* to account for the padding */
    display: flex;
    gap: 25px;
    flex-direction: row;
}

.overview-insigths {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.demographic-info {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.total-investments-cards {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.information-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.investment-areas-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.investment-areas {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    height: 100%;
    width: 50%;
}

.no-investment-areas {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    height: 100%;
    width: 50%;
    justify-content: center;
}

.investment-areas-title {
    background-color: rgb(65, 152, 215, 0.1);
    padding: 5px;
    padding-left: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.investment-areas-list {
    padding: 5px;
    padding-left: 10px;
}

.investments-graphs {
    display: flex;
    flex-direction: row;
    gap: 20px;
}